* {
    margin: 0;
    padding: 0;
    /* font-family: "Agbalumo", system-ui; */
    /* font-weight: 400; */
    /* font-style: normal; */
  }
  
    /* font-family: "Madimi One", sans-serif; */
  

  nav{
    background-color: palevioletred;
  }

  nav h1{
    font-family: "Agbalumo", sans-serif;
    font-weight: 100;
    padding: 25px;
    font-size: 48px;
    display: inline-block;
    /* justify-content: space-between; */
  }
  nav h3{
    margin-left: 25%;
    font-family: "Agbalumo", sans-serif;
    font-weight: lighter;
    padding: 25px;
    /* font-size: xx-large; */
    display: inline-block;
  }

  .containerdiv{
    width: 100%;
    height: 100%;
    /* align-items: center; */
    margin-top: 5%;
    /* position: relative; */
    /* margin-left: 3%; */
    /* right: 10px; */
    /* padding-right: 2%; */
    /* padding-left: 5%; */
    /* padding-top: 5%; */
    /* padding-bottom: 3%; */
    /* padding-inline-start: %; */
    /* padding-inline-end: 3%; */
    /* background-color: rgb(229, 21, 21); */
    /* opacity: 0.8; */
  }

  #normalcontent{
    background-color: pink;
    padding: 25px;
    /* margin: 17px; */
    /* margin-top: 0%; */
    margin-left: 4.8%;
    /* margin: 5%; */
    margin-bottom: 3%;
    /* padding-left: 3%; */
    /* text-overflow: ellipsis; */
    max-width: 39%;
    min-width: 15%;
    /* position: relative; */
    /* white-space: nowrap; */
    /* height: fit-content; */
    border-radius:10px 3px 10px 10px ;
    text-align: justify;
    box-shadow: 0px 0px 20px 1px grey;
    display: inline-block;
    vertical-align: top;
  }
  #normalcontent h2,h5, p{
    /* overflow:scroll; */
    width: 100%;
    overflow-wrap: break-word;
    /* max-width: 10px; */
    /* width: 30%; */
    text-align: justify;
  }


  #normalcontent button{
    width: 100px;
    height: 25px;
    background-color: palevioletred;
    border-radius: 5px 2px 30px 5px;
    border: none;
  }
  
  .add-button{
    background-color: palevioletred;
    border: none;
    border-radius: 70px;
    /* padding-left: ; */
    padding: 25px;
    font-size:40px;
    font-weight: bolder;
    position: fixed;
    right: 30px;
    bottom: 30px;
  }

  .popup-overlay{
    width: 100%;
    height: 100%;
    background-color: black;
    position: absolute;
    opacity: 0.7;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    display: none;
    position: fixed;
  }
  .popupbox{
    position: absolute;
    z-index: 1;
    top: 0;
    margin-top: 14%;
    left: 30%;
    width: 34%;
    height: 45%;
    background-color: rgb(248, 174, 186);
    padding: 10px 0px 0px 15px ;
    border-radius: 10px;
    display: none;
  }
  
  form h4{
    margin-bottom: 2%;
    color: palevioletred;
    font-size: 25px;
    font-weight: 900;
    margin-left: 40%;
    /* text-align: center; */
  }
  .popupbox input,textarea{
    background-color: whitesmoke;
    width: 94%;
    height: 40px;
    border: none;
    /* border:  solid black 1px; */
    border-bottom: 1px solid black;
    margin-bottom: 2%;
    background: transparent;
    text-align: justify;
  }
  .popupbox textarea{
    /* border: none; */
    border:  solid black 1px;
    height: 90px;
    /* border-bottom: 1px solid black; */
  }

  .popupbox input::placeholder{
    color: grey;
    font-size:14px ;
  }
  .popupbox textarea::placeholder{
    color: grey;
    font-size:14px ;
  }

  .popupbox input,textarea:focus{
    outline: none;
  }



  #popadd-btn{
    width: 30%;
    border: 3px solid  rgb(248, 174, 186);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 2%;
    background: palevioletred;
    margin-left: 110px;
  }
  #popcancel-btn{
    width: 30%;
    border: 3px solid  rgb(248, 174, 186);
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 2%;
    background: palevioletred;
    margin-left: 10px;
  }








  /* ........................ */
  @media only screen and (max-width: 768px) {
    nav h1 {
      font-size: large;
    }
  
    .containerdiv {
      margin-top: 15%;
      margin-left: 2%;
      margin-bottom: 10%;
      max-width: 90%;
      min-width: 80%;
    }
  
    #normalcontent {
      margin-left: 2%;
      max-width: 90%;
      min-width: 80%;
    }
  
    .popupbox {
      width: 90%;
      height: 60%;
      margin-top: 10%;
      left: 5%;
    }
  
    form h4 {
      margin-left: 10%;
      font-size: large;
    }
  
    .popupbox input,
    .popupbox textarea {
      width: 90%;
      height: 30px;
      margin-bottom: 5%;
    }
  
    .popupbox textarea {
      height: 70px;
    }
  
    #popadd-btn,
    #popcancel-btn {
      width: 40%;
      margin-left: 30%;
    }
  
    .add-button {
      font-size: 30px;
      right: 10%;
      bottom: 5%;
    }
  }
  
  @media only screen and (max-width: 480px) {
    nav h1 {
      font-size: medium;
    }
  
    .containerdiv {
      margin-top: 25%;
      margin-left: 2%;
      margin-bottom: 20%;
      max-width: 90%;
      min-width: 80%;
    }
  
    #normalcontent {
      margin-left: 2%;
      max-width: 90%;
      min-width: 80%;
    }
  
    .popupbox {
      width: 90%;
      height: 70%;
      margin-top: 20%;
      left: 5%;
    }
  
    form h4 {
      margin-left: 10%;
      font-size: medium;
    }
  
    .popupbox input,
    .popupbox textarea {
      width: 90%;
      height: 25px;
      margin-bottom: 5%;
    }
  
    .popupbox textarea {
      height: 60px;
    }
  
    #popadd-btn,
    #popcancel-btn {
      width: 40%;
      margin-left: 30%;
    }
  
    .add-button {
      font-size: 25px;
      right: 10%;
      bottom: 5%;
    }
  }
  
  
  
  

  


  